.auth-page {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.auth_formAuth {
  width: 940px;
  margin: auto;

  &__title {
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 44px;
    color: #222;
  }
}

.auth_groupBlock {
  background: #fff;
  -webkit-box-shadow: 0 4px 5px rgb(0 0 0 / 10%);
  box-shadow: 0 4px 5px rgb(0 0 0 / 10%);
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  &__row {
    position: relative;
    color: #222;
  }

  &__field {
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
    border-bottom: 1px solid #222;
    outline: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

.button {
  background-color: #ffa800;
  padding: 15px 20px;
  border-radius: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
  justify-content: center;
}
