$minWidth: 320px; // мин размер
$maxWidth: 1920; // полотно
$maxWidthContainer: 1420px; // огранич контейнер
$md1: $maxWidthContainer + 12px; // брейкпоинты для адаптива. сработает когда есть зазор
$md2: 1024px;
$md3: 800px;
$md4: 629px;
$md5: 480px;

$pageColor: #ffa800;
$opacityPageColor: #ffbf43;
$mainColorWhite: #ffffff;
$backGroundGray: #f8f8f8;
$mainColorGray: #f1f1f1;
$anotherColorGray: #e5e5e5;
$darkColorGray: #777777;
$mainColor: #222222;
$secondColorBlue: #406ff3;
$secondColorYellow: #f2e629;
$errorField: #ff0033;

@media (max-width: $md1) {
  //1432
}

@media (max-width: $md2) {
  //1024
}

@media (max-width: $md3) {
  //800
}

@media (max-width: $md4) {
  //629
}

@media (max-width: $md5) {
  //480
}
